<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Inicio</title>

    @*Style sheets*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="@("https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css")" rel="stylesheet">
    <link href='@("https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css")' rel="stylesheet">
    @Styles.Render("~/Content/css")
    @*END STYLE SHEETS*@

    @*SCRIPTS*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/requirejs")
    @*sCRIPTS*@

</head>
@Html.Partial("~/Views/Shared/_Header.cshtml")
<body>
    <div id="MainApp">
        <v-app>
            <div class="hover" v-bind:class="{'disabled': isMounted }"></div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <div class="footer-container-ads text-center">
                    ADDS GO HERE
                </div>
                <footer>
                    <hr />
                    <div class="row">
                        <div class="col-6 border-right-2-white text-center">
                            <p><a href="">Contactanos</a></p>
                        </div>
                        <div class="col-6 text-center">
                            <p>&copy; @DateTime.Now.Year - La Lista Negra</p>
                        </div>

                    </div>
                </footer>
            </div>
            <notifications position="bottom right" />
        </v-app>
    </div>
</body>
</html>

<script>
    require(['jquery', 'bootstrap', 'vue','vueLoader']);
</script>

<style>

    .vue-tags-input {
        max-width: none !important;
        width: 100%;
    }
    .form-group label {
        font-weight: bolder;
    }
    .hover {
        background-color:white;
        z-index:100;
        width:100%;
        height:100%;
        position:fixed;
        opacity:1;
        top:0;
        left:0;
        transition: opacity 2s;
    }

    .hover.disabled{
        transition: opacity 2s;
        opacity:0;
        pointer-events: none;
    }

    .clickable{
        cursor:pointer;
    }
</style>