@model ListaNegra.Models.ListItemModel

@{
    ViewBag.Title = "Agregar un nuevo reporte";
}

<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <p>
        Aqui vas a generar tu reporte con las siguientes caracteristicas y reglas : <br />
        * Compartenos tu historia y ayuda a mas gente en no caer en estos tipos de estafas
        * Esta pagina es con fin de llevar un historial de fraudes grandes como Cheque sin fondos al comprar auto, depositos de renta que resultan fraude, empresas fantasmas, fraudes en fin, rentas que no devuelven depositos, etc <br />
        * No poner en la pagina fotos directas del defraudador usa el campo de fuente original para hacer una publicacion completa en cualquier sitio ajeno (Facebook, Twitter, tu pagina, etc)<br />
        * No mencionar nombre completo sino abreviaturas en tu description del defraudador para evitar problemas por "difamacion", con tu historia la gente razonara el defraudador<br />
        * Ser claro y consizo mas entendible tu description, a mas gente comprenderas y evitar ser defraudados <br />
        * Lista Negra no resuelve tu caso, es meramente informativo como registro, cada autor es responsable de su publicacion y ajeno al sitio<br />
    </p>
</div>

@using (Html.BeginForm("AddNewReport", "Main", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-12 p-3">
            <div class="form-group">
                @Html.LabelFor(x => x.Title, "Titulo")<br />
                <small>Recomendamos un nombre que sea muy claro y consiso con el fraude perpetuado</small>
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Title)
            </div>
        </div>
        <div class="col-12 p-3">
            <div class="form-group">
                @Html.LabelFor(x => x.ListName, "Nombre del defraudador")<br />
                <small>Comparte el supuesto nombre del que te defraudo</small>
                @Html.TextBoxFor(x => x.ListName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ListName)
            </div>
        </div>
        <div class="col-12 p-3">
            <div class="form-group">
                @Html.LabelFor(x => x.Phone, "Telefono utilizado en el fraude")<br />
                <small>Te contactaron de un telefono o te proporcionaron alguno con el que te defraudaron?</small>
                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Phone)
            </div>
        </div>
        <div class="col-12 p-3">
            <div class="form-group">
                @Html.LabelFor(x => x.Description, "Pon una description de la fraude")
                @Html.TextAreaFor(x => x.Description, 25, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
        </div>

        <div class="col-12 p-3">
            Selecciona en el mapa el lugar del fraude o si no es relacionado a un punto especifico posicionalo en la ciudad del hecho.
            <div class="input-group">

                <div id="map"></div>
            </div>
        </div>
        <input type="hidden" name="@Html.NameFor(x => x.Latitude)" v-model="Latitude" />
        <input type="hidden" name="@Html.NameFor(x => x.Longitude)" v-model="Longitude" />

        <div class="col-12 p-3">
            <div class="form-group">
                <label>Palabras clave</label>
                <div class="tags">
                    <vue-tag-input v-model="tag"
                                    :tags="tags"
                                    :autocomplete-items="filteredItems"
                                    @@tags-changed="newTags => tags = newTags" />
                </div>
            </div>
        </div>
        <div class="col-12 p-3">
            <div class="form-group">
                <label>Agregar Imagenes externas</label>
                <small>Puedes agregar url a imagenes de tu caso</small>
                <div class="input-group">
                    <input type="url" pattern="https://.*" placeholder="http://ejemplo.com/img/imagen_relacionada_1000.png" class="form-control" v-model="InputImageAppend" v-on:keyup.enter="appendImageToForm" />
                    <div class="input-group-append" @@click="appendImageToForm">
                        <a class="btn btn-success"> <v-icon dark right>add_photo_alternate</v-icon></a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-12 p-3">
            <input-image-hidden :url="Images"></input-image-hidden>
        </div>
        <div class="col-12 p-3">
            <div class="col-md-3 col-lg-2 col-xl-1 offset-xl-11 offset-lg-10 offset-md-9">
                @*<a class="btn btn-primary">Crear</a>*@
                <v-btn small color="primary" large block class="float-right">Crear</v-btn>
            </div>
        </div>
    </div>
}




<script>
    require(['openlayers', 'app', 'tag-input-vue', 'vue'], (ol, app, vuetag, Vue) => {

        let controller = {
            components: {
                'vue-tag-input': vuetag.default,
            },
            data: {
                map: null,
                source: null,
                layer: null,
                marker: null,
                OL_Proj: ol.proj,
                tag: '',
                tags: [],
                latitude: '',
                longitude: '',
                filteredItems: [{ text: 'Spain' }],
                Images: ['hello.png', 'test.jpg']
            },
            methods: {
                initMap: function () {

                    this.map = new ol.Map({
                        target: 'map',
                        layers: [
                            new ol.layer.Tile({
                                source: new ol.source.OSM()
                            })
                        ],
                        view: new ol.View({
                            center: ol.proj.fromLonLat([-103.349609, 20.659698]),
                            zoom: 10
                        })
                    });

                    this.source = new ol.source.Vector({});
                    this.layer = new ol.layer.Vector({
                        source: this.source,
                        style: new ol.style.Style({
                            image: new ol.style.Icon({
                                src: 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Map_marker_font_awesome.svg/200px-Map_marker_font_awesome.svg.png',
                                anchor: [0.5, 1],
                                scale: .25
                            }),
                        })
                    });
                    this.map.addLayer(this.layer);

                    this.map.on("click", (e) => {

                        let newProj = this.OL_Proj.toLonLat(e.coordinate);
                        console.log(newProj);
                        this.marker && this.source.removeFeature(this.marker);

                        this.marker = new ol.Feature({
                            geometry: new ol.geom.Point(e.coordinate) // dont worry about coordinate type 0,0 will be in west coast of africa
                        });

                        console.log(newProj);
                        this.latitude = newProj[0];
                        this.longitude = newProj[1];

                        this.source.addFeature(this.marker);
                    }); // click event map

                },
                appendImageToForm: function () {
                    //if()
                    console.log(this.$notify);
                    this.$notify('text');
                    var url = this.InputImageAppend;
                    this.Images.push(url);
                }
            },
            mounted: function () {
                this.initMap();
            }

        };

        console.log(2);

        app.Start(controller);
        console.log('App Started');
    });
</script>


@*important*@

@*var currentPoint = new Point(routeCoords[index]);
    var feature = new Feature(currentPoint);
    vectorContext.drawFeature(feature, styles.geoMarker);*@