@using Newtonsoft.Json;
@model KHub.ViewModels.IndexHomeViewModel

@{
    ViewBag.Title = "K hub";
    var hasProjectID = Context.Request.Query["projectid"] != "";
    var baseUrl = string.Format("{0}://{1}{2}", this.Context.Request.Scheme, this.Context.Request.Host.Value, Url.Content("~"));

}

<div class="index-container">
    <v-bottom-navigation v-model="bottomNav">
        @*<v-tooltip bottom>
            <template v-slot:activator="{ on }">*@
        <v-btn @*v-on="on"*@ @@click="RedirectToUrl('@Url.Action("Index","Home")')">
            <span>Recent</span>
            <v-icon>mdi-history</v-icon>
        </v-btn>
        @*</template>
                <span>Add a new project</span>
            </v-tooltip>*@

        <v-btn v-if="@Identity.IsSignedIn.ToString().ToLower()" @@click="RedirectToUrl('@Url.Action("Index","Home", new { favorite = true })')">
            <span>Favorites</span>
            <v-icon>mdi-heart</v-icon>
        </v-btn>

        <v-btn @@click="RedirectToUrl('@Url.Action("Projects","Home")')">
            <span>Projects</span>
            <v-icon>mdi-map-marker</v-icon>
        </v-btn>
    </v-bottom-navigation>
    <div class="pt-3 text-center text-md-left">
        <h2>@Model.Title</h2>
    </div>
    <hr />
    <div class="row">

        @if (Model != null)
        {

            @foreach (var item in Model.Posts)
            {
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">

            <v-card class="mx-auto">

                <div class="text-center pt-12">
                    <v-icon x-large>
                        extension
                    </v-icon>
                </div>

                    <v-tooltip top>
                        <template v-slot:activator="{ on }">
                            <v-card-text class="headline text-center h-100px truncate blind-100-box" v-on="on">
                                @item.Title
                            </v-card-text>
                        </template>
                        <span>@item.Title</span>
                    </v-tooltip>
                <v-card-actions class="p-0 border">
                    <v-row justify="center"
                           no-gutters absolute>
                        <v-col>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn text tile outline block large color="green" v-on="on" @@click="CopyToClip('@(baseUrl  + $"/Home/Post?postid={item.PostID}")')" small>
                                        <v-icon small>share</v-icon>
                                    </v-btn>
                                </template>
                                <span>Share : Copy to clipboard</span>
                            </v-tooltip>
                        </v-col>
                        <v-col>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn text tile outline block large color="pink" v-on="on" small @@click="_AddPostToFavorites(@item.PostID)">
                                        <v-icon small>favorite</v-icon>
                                    </v-btn>
                                </template>
                                <span>Add to your favorites</span>
                            </v-tooltip>
                        </v-col>

                        <v-col>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn text tile outline block large color="blue" v-on="on" small @@click="CreateAddToProjectModal(@item.PostID)">
                                        <v-icon small>playlist_add</v-icon>
                                    </v-btn>
                                </template>
                                <span>Add to a current project</span>
                            </v-tooltip>
                        </v-col>

                        <v-col>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn text tile outline block large color="red" v-on="on" small @@click="RedirectToUrl('@Url.Action("Post", "Home", new { postid = item.PostID })')">
                                        <v-icon small>launch</v-icon>
                                    </v-btn>
                                </template>
                                <span>Go to full detail</span>
                            </v-tooltip>
                        </v-col>
                    </v-row>
                </v-card-actions>
            </v-card>
        </div>

            }

        }
        else
        {

            <h3>There is no content to display at the moment</h3>

        }

    </div>
</div>


@section scripts {


    <script>
        //start main app
        let controller = {
            components: {
            },
            data: {
                Projects : JSON.parse(`@Html.Raw(JsonConvert.SerializeObject(Model.UserProjects))`)
            },
            methods: {
                CopyToClip: function (text) {
                    this.CopyToClipboard(text);
                    this.$notify({
                        title: 'Success',
                        text: "Copy to clipboard succesfully",
                        type: 'success',
                    });
                },
                CreateAddToFav: function (postid) {
                    if (!@(Identity.IsSignedIn.ToString().ToLower())) {
                        this.$notify({
                            title: 'Warning',
                            text: "You must be signed in to add to your favorites",
                            type: 'warn',
                        });
                        return;
                    }
                },
                CreateAddToProjectModal: function (postid) {
                    if (!@(Identity.IsSignedIn.ToString().ToLower())) {
                        this.$notify({
                            title: 'Warning',
                            text: "You must be signed in to add to a current project",
                            type: 'warn',
                        });
                        return;
                    }
                    this.$modal.show(
                        VueApp.Components.AddToProjectModalComponent,
                        {
                            PostID: postid,
                            Projects: this.Projects
                        },
                        {
                            height: 'auto',
                            adaptive: true,
                            clickToClose : false
                        },
                        {}
                    );
                },
                _AddPostToFavorites: function (id) {
                    this.AddPostToFavorites(id)
                    .then(() => {
                        this.$emit('close');
                        this.$notify({
                            title: 'Success:',
                            text: "Added post to favorites successfully",
                            type: 'success',
                        });
                        //setTimeout(() => {
                        //    location.reload();
                        //}, 1000);
                    }).catch((error) => {
                        this.$notify({
                            title: 'Error:',
                            text: error,
                            type: 'error',
                        });
                        this.createProjectSubmitting = false;
                    });
                }
            },
            mounted: function () {

            },
            created: function () {

            }
        };
        console.log('calling vue app');
        console.log(VueApp);
        VueApp.Start(controller);
    </script>

}